body {
    font-family: Arial, sans-serif;
    background: #222;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff7f50, #ff1493); /* Gradient nền đẹp */
  }
  
  h2, h3, p {
    color: #f0f8ff;
  }
  
  button {
    background-color: #ff6347;
    border: 2px solid #ff4500;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #ff4500;
    border: 2px solid #ff6347;
  }
  
  input {
    background-color: #333;
    color: #fff;
    border: 2px solid #444;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 70%;
    transition: 0.3s;
  }
  
  input:focus {
    border-color: #ff6347;
  }
  
  #auth, #game {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  #authMsg {
    color: #ff6347;
    font-weight: bold;
  }
  
  #diceContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  #diceContainer img {
    width: 80px;
    margin: 0 15px;
    transition: transform 0.3s;
  }
  
  #diceContainer img:hover {
    transform: scale(1.2);
  }
  
  #betSection {
    margin-top: 20px;
  }
  
  #betSection button {
    margin-top: 10px;
    background-color: #32cd32;
    border: 2px solid #228b22;
  }
  
  #betSection button:hover {
    background-color: #228b22;
    border: 2px solid #32cd32;
  }
  
  #countdown {
    font-size: 20px;
    color: #ffeb3b;
  }
  
  #giftcodeSection {
    margin-top: 30px;
  }
  
  #giftcodeSection input {
    width: 50%;
  }
  
  #eventSection {
    margin-top: 30px;
  }
  
  #eventSection p {
    color: #ffeb3b;
  }
  
  #leaderboard {
    list-style: none;
    padding: 0;
  }
  
  #leaderboard li {
    font-size: 18px;
    color: #ffffe0;
  }
  
  #leaderboard li:nth-child(even) {
    background-color: #ff4500;
    padding: 10px;
    border-radius: 5px;
  }
  
  #adminSection {
    padding-top: 20px;
    margin-top: 40px;
    border-top: 2px solid #ff6347;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #adminSection input {
    width: 50%;
  }
  
  #adminSection button {
    background-color: #ff6347;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
  }
  
  #adminSection button:hover {
    background-color: #ff4500;
  }
  